@import "bootstrap/bootstrap";
body{
	font-family: "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}


@import "bootstrap/_mixins.scss";
@import "bootstrap/_variables.scss";

@import "_embark-mixins.scss";
@import "_embark-variables.scss";
@import "_embark-variables-md.scss";

@import "embark-bootstrap-extensions";
@import "embark-ui";
@import "embark-utils";
@import "embark-md";
@import "embark-theme/primary";

.nav{
	display: block;
}

.navbar,
.navbar-nav {
	display: block;
  .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

.navbar-nav .nav-item {
	display: inline-block;
}
.nav-link {
	padding: 0;
	border: inherit;
	display: inline-block;
	position: relative;
}
.img-circle {
	border-radius: 50%;
}
.block {
	display: block;
}